<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event Page</title>

    <!-- favicon  -->
    <link rel="icon" type="image/png" href="./media/favicon.png">

    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="./css/eventPage.css">
    <link rel="stylesheet" media="all" href="./css/header_footer.css">
    <link rel="stylesheet" href="./css/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../static/css/eventPage.css">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>
  <body class="bg-light">

    <header th:replace="fragments/headerTemplate :: header"></header>
    <iframe id="popUpBox" src="/eventPagePopUp" style="display:none;visibility:hidden;" onload="this.style.visibility='visible';"></iframe>
    <div id="eventBoxOuter" class="bg-light">

      <div id="eventBoxInner">

        <div class="infoBox1">

          <div class="eventTitleBox">
              <div class="eventTitleBoxInner">
                <h1 id="eventTitle" th:text="${title}"></h1>
                <div class="isTeamEventBoxOuter">
                  <div class="isTeamEventBoxInner">
                    <p id="isTeamEvent" th:if="${isTeamEvent} == true" >
                      Team Event
                    </p>
                  </div>
                </div>
              </div>
          </div>

          <div class="eventTimeBox">
            <div class="eventTimeBoxInner">
              <div class="eventStartTimeBox">

                <div class="eventStartTimeBoxInner1">
                  <div class="eventFromBox">
                    <p>Start</p>
                  </div>
                  <hr class="timeLines">
                  <p id="eventStartTime" th:text="${start}"></p>
                </div>

                <div class="eventStartTimeBoxInner2">
                  <div class="eventEndBox">
                    <p>End</p>
                  </div>
                  <hr class="timeLines">
                  <p id="eventEndTime" th:text="${end}"></p>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="infoBox2">
          <div id="eventDetailsBox" class="eventDetailsBox">
            <div class="eventDetailsBoxInner">
              <div class="attendanceFormBox">
                <div class="attendanceFormBoxInner">
                  <form action="" id="attendanceForm" onsubmit="return false">
                    <input id="AB1" class="attendanceButtons" th:classappend="${attendance == '1'} ?'SELECTED':''" type="submit" name="Going" value="Going">
                    <input id="AB2" class="attendanceButtons" th:classappend="${attendance == '2'} ?'SELECTED':''" type="submit" name="Not Going" value="Not Going">
                    <input id="AB3" class="attendanceButtons" th:classappend="${attendance == '3'} ?'SELECTED':''" type="submit" name="Maybe" value="Maybe">
                  </form>
                </div>
              </div>

              <div class="descLineBoxes">
               <hr class="descLines">
              </div>

              <p id="eventDesc" th:text="${description}"></p>

              <div class="descLineBoxes">
                <hr class="descLines">
              </div>
              <p id="eventLocSt1" th:text="${eventLocSt1}"></p>
              <p id="eventLocSt2" th:if="${eventLocSt2!=''}"><span th:text="${eventLocSt2}"></span></p>
              <p id="eventLocCity" th:text="${eventLocCity}"></p>
              <p id="eventLocPost" th:text="${eventLocPost}"></p>

              <div id="eventAttendeesBox">
                <div id="eventAttendeesBoxInner">
                  <input id="seeAttendeesButton" type="button" value="Attendees">
                </div>
              </div>

            </div>

          </div>

          <div id="eventLocBox" class="eventLocBox">
            <div class="eventLocBoxInner">
              <iframe id="mapIframe" th:src="@{'/mapPage' + ${mapQueryStr}}"></iframe>  <!-- https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.365792090846!2d-3.179233183904616!3d51.488154579631946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e1cc72c707061%3A0x2e7fee79f4d09cc1!2sCardiff%20University%20Students&#39;%20Union!5e0!3m2!1sen!2suk!4v1573639825206!5m2!1sen!2suk -->
            </div>        <!-- @{'./templates/map_page.html' + ${mapQueryStr}} -->
          </div>
        </div>

        <div class="teamEventBox" th:if="${isTeamEvent == true}" >

          <div class="teamEventBoxInner">
            <div class="teamEventTitleBox">
              <p>Team</p>
            </div>
            <div class="teamLineBoxes">
              <hr class="teamLines">
            </div>
            <p id="eventTeamName" th:text="${teamName}"></p>
            <div class="teamFormsBox">
              <div class="teamFormBoxInner">
                <form id="teamForm" onsubmit="return false">
                  <input class="teamButtons" id="viewTeammatesButton" type="submit" name="viewTeammates" value="Team Members">
                  <input class="teamButtons" id="changeTeamButton" type="submit" name="changeTeam" value="Change Team">
                  <input class="teamButtons" id="createTeamButton" type="submit" name="createTeam" value="Create Team">
                </form>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <footer th:replace="fragments/footerTemplate :: footer"></footer>

    <script async defer src="./js/header.js" ></script>
    <script async defer src="./js/jquery.js"></script>
    <script async defer th:inline="javascript">
      $(document).ready(function() {
        function storeCurrentEventAndUserDataInLocalStorage() {
          // Script for storing event & user data on the user's browser
          localStorage.setItem("userId", [[${userId}]]);
          localStorage.setItem("eventId", [[${eventId}]]);
          if ([[${isTeamEvent}]]) {
            localStorage.setItem("teamId", [[${teamId}]]);
          }
          if ([[${attendance}]] !== '0') {
            localStorage.setItem("attendanceId", [[${attendanceId}]]);
          }
        }

        storeCurrentEventAndUserDataInLocalStorage();

        function keepDivDescBoxAndDivMapBoxTheSameHeight() {    // Script for resizing Divs display boxes so that they're consistently the same height
          function setHeight(box1, box2) {
            var height = box1.height();
            box2.css('height', height);
          }

          $(window).on('resize', function () {
            if ($(window).width() > 700) {      // Media query
              setHeight($('#eventDetailsBox'), $('#eventLocBox'));
            } else {      // If page width is tablet/mobile, heights no longer need to match, so setting both to auto
              $('#eventLocBox').css("height", "auto");
              $('#eventDetailsBox').css("height", "auto");
            }
          });
          setHeight($('#eventDetailsBox'), $('#eventLocBox'));
        }

        keepDivDescBoxAndDivMapBoxTheSameHeight();

        function styleChangesForTeamEvents() {  // Script for altering the display for team events
          if ([[${isTeamEvent}]]) {   // Syntax for accessing Thymeleaf variables in JS
            $(".eventTitleBoxInner").css({
              "border": "2.5px solid rgba(0,0,128,0.9)",
              "box-shadow": "0.5px 0.5px 25px rgba(0,0,128,0.4)"
            });
          }
        }

        styleChangesForTeamEvents();

        function attendanceButtonsFunctions() {
          // Script for altering the display of the attendance buttons based on the users response to the event (if they've already made a response)
          // And for sending new/updated attendance responses

          var clsButtons = $("[class^='attendanceButtons']");
          var token = $("meta[name='_csrf']").attr("content");    // Used to bypass SPring Boot's CSRF protocol     -- SOlution taken from 'https://stackoverflow.com/questions/34747437/use-of-spring-csrf-with-ajax-rest-call-and-html-page-with-thymeleaf' on Nov 26th 2019
          var header = $("meta[name='_csrf_header']").attr("content");    // Used to bypass SPring Boot's CSRF protocol

          // CSS METHODS
          function updateAttdButtonsCSS() {
            clsButtons.each(function (i, btn) {
              var cls = $(this).attr('class');
              if (/ SELECTED/.test(cls)) {
                $(this).css({"background-color": "lightgrey", "box-shadow": "0px 0px 3px"});  // Updating style of selected attendance status
                $(this).attr('class', 'attendanceButtons'); // Removing ' SELECTED' from class name
              } else {
                $(this).css({"background-color": "transparent", "box-shadow": "0px 0px 0px"}); // Updating style of non-selected buttons
              }
            });
          }

          updateAttdButtonsCSS();

          function updateSelectedUserAttdButton() {  // Adds 'SELECTED' to button class name if a new post request is successfully submitted to the DB
            var btnPressed = "#" + localStorage.getItem("lstAttdBtnHit");
            $(btnPressed).attr('class', 'attendanceButtons SELECTED');
          }

          //HTTP REQUEST METHODS
          function postAttdStatus(response) {
            var baseUri = "/post/attendance";
            var userId = "userId=" + localStorage.getItem("userId");
            var eventId = "&eventId=" + localStorage.getItem("eventId");
            var res = "&response=" + response;
            var fullUri = baseUri + "?" + userId + eventId + res;
            if ([[${attendance}]] !== '0') {
              fullUri += "&attendanceId=" + localStorage.getItem("attendanceId");
            }
            $.ajax({
              type: "POST",
              url: fullUri,
              beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
              },
              success: function (response) {
                if (response === true) {
                  location.reload();
                } else {
                  alert("There was an error, please try again.")
                }
              },
              error: function (data) {
                alert("FAIL");
                alert(data.responseText);
              }
            });
          }

          // BUTTON LISTENERS
          clsButtons.on("click", function () {     // When an attendance button is clicked, which button is clicked is determined before attempting to post the user's request
            localStorage.setItem("lstAttdBtnHit", $(this).attr('id'));
            var response;
            switch ($(this).attr('id')) {
              case 'AB1':
                response = '1';
                break;
              case 'AB2':
                response = '2';
                break;
              case 'AB3':
                response = '3';
                break;
            }
            postAttdStatus(response);
          });
        }

        attendanceButtonsFunctions();

        function eventPagePopUpFunctions() {
          var token = $("meta[name='_csrf']").attr("content");    // Used to bypass SPring Boot's CSRF protocol     -- SOlution taken from 'https://stackoverflow.com/questions/34747437/use-of-spring-csrf-with-ajax-rest-call-and-html-page-with-thymeleaf' on Nov 26th 2019
          var header = $("meta[name='_csrf_header']").attr("content");    // Used to bypass SPring Boot's CSRF protocol
          var popup = $('#popUpBox');

          function openIframe() {
            popup.css("display", "block");
          }

          function initIframe(source) {
            localStorage.setItem("popup", source);
            document.getElementById('popUpBox').contentWindow.changePopup();
            openIframe();
          }

          function getEventAttendees() {
            var uri = "/api/get/event/attendees" + "?eventid=" + localStorage.getItem("eventId");
            $.ajax({
              type: "GET",
              url: uri,
              beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
              },
              success: function (response) {
                var attendeesLi = [];
                for (var i in response) {
                  attendeesLi.push(response[i]['firstName'] + " " + response[i]['lastName'])
                }
                localStorage.setItem("eventPageEventAttendees", attendeesLi);
                document.getElementById('popUpBox').contentWindow.addAttendeesToDisplay();
                initIframe("viewAttendeesPopUp");
              },
              error: function (response) {
                alert("FAIL");
                alert(response.responseText);
              }
            });
          }

          function getEventTeammates() {
            var uri = "/api/get/event/teammates" + "?eventid=" + localStorage.getItem("eventId")
                    + "&teamid="  + localStorage.getItem("teamId");
            $.ajax({
              type: "GET",
              url: uri,
              beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
              },
              success: function (teamMatesLi) {
                var teamMatesArr = [];
                if(localStorage.getItem("teamId") !== "0"){
                  for (var i in teamMatesLi) {
                    var teamMate = teamMatesLi[i]['firstName'] + " " + teamMatesLi[i]['lastName'];
                    teamMatesArr.push(teamMate);
                  }
                  if(teamMatesArr.length === 0){
                    teamMatesArr.push("No Teammates to show");
                  }

                  localStorage.setItem("eventPageTeamMates", teamMatesArr.join(", "));
                  document.getElementById('popUpBox').contentWindow.addTeammatesToDisplay();
                  initIframe("viewTeammatesPopUp");
                }
                else{
                  alert("Sorry! You must join a team first");
                }

              },
              error: function (response) {
                alert("Sorry! You must join a team first");
              }
            });
          }

          $("#seeAttendeesButton").on("click", function () {
            getEventAttendees();
          });

          $("#viewTeammatesButton").on("click", function () {
            getEventTeammates();
          });

          $("#changeTeamButton").on("click", function () {
            console.log("EVENT ID:" + localStorage.getItem("eventId"));
            $.ajax({
              type: "GET",
              url: "/api/get/event/teams?eventid=" + localStorage.getItem("eventId"),

              beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
              },
              success: function (teamsLi) {
                var teamsArr = [];
                // console.log("TEAMS LIST:" + teamsLi);
                for (var i=0;i<teamsLi.length;i++) {
                  // console.log("NEW TEAM:" + teamsLi[i]['teamName']);
                  teamsArr.push(teamsLi[i]['teamName']);
                }
                // console.log("ARRAY:" + teamsArr);

                if(teamsArr.length === 0){
                  teamsArr.push("No Teams to show");
                }

                localStorage.setItem("eventPageTeams", teamsArr.join(", "));
                document.getElementById('popUpBox').contentWindow.addTeamsForEventToDisplay();
                initIframe("changeTeamPopUp");
              },
              error: function (response) {
                alert(response.text);
              }
            });
          });

          $("#createTeamButton").on("click", function () {
            initIframe("createTeamPopUp");
          });
        }

        eventPagePopUpFunctions();
      });

      function closeIFrame() {
        $('#popUpBox').css("display", "none");
      }
    </script>

  </body>
</html>


<!--  ////////// HTML IDS FOR EVENT CONTENT INJECTION ////////////////////

  USEFUL HTML IDs

  <h1 id="eventTitle">
  <p id="eventDesc">
  <p id="eventStartTime">
  <iframe id="mapIframe">
  <p id="eventLocSt1">
  <p id="eventLocSt2">
  <p id="eventLocCity">
  <p id="eventLocPost">
  <p id="eventEndTime">
  <p id="eventTeamName>
  <p id="isTeamEvent">
  <form action="" id="attendanceForm">
  <form action="" id="teamForm">

  THYMELEAF TO INJECT

  <h1 id="eventTitle" th:text="${'title'}">Title</h1>
  <p id="eventStartTime" th:text="${'start'}">17:00</p>
  <p id="eventEndTime" th:text="${'end'}">21:00</p>
  <p id="eventDesc" th:text="${'description'}">
  <p id="eventLocSt1" th:text="${'eventLocSt1'}">
  <p id="eventLocSt2" th:text="${'eventLocSt2'}">
  <p id="eventLocCity" th:text="${'eventLocCity'}">
  <p id="eventLocPost" th:text="${'eventLocPost'}">
  <p id="eventTeamName" th:text="${'teamName'}">

  THYMLEAF BOOLS TO QUERY WITH JS

  <div class="isTeamEventBoxInner"> th:if="${variable.something} == null"  //BOOL FOR TEAM EVENT DISPLAY
  <div class="teamEventBox"> th:if="${variable.something} == null" // ^^^^^^
  <form action="" id="attendanceForm"> th:if="${variable.something} == null"

  MAP IFRAME TO LINK TO EVENT DATA:

  <iframe href="LINK TO MAP HTML PAGE">
-->